.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mcontent-areas-back{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
    position: relative;
    top: 270px;
    display: inline-block;
    height: 865px;
    border-top: 5px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}
.mcontent-areas{
    width: 70%;
    position: relative;
    display: inline-block;
    background: rgb(247, 234, 234);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
    height: 850px;
    border-radius: 0 0 25px 25px;
}
.mcontent-areas h2{
    font-family: big;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
}
.mcontent-areas p{
    padding: 2% 0;
    font-family: Merienda;
    line-height: 30px;
    font-size: 20px;
    word-spacing: 3px;
}
.mwrapper{
    padding: 0 50px 0 50px;
}

.mfooterr{
    width: 100%;
    height: 350px;
    top: 1140px;
    background-color: #24252B;
    position: absolute;
    border-top: 5px solid black;
}
.mfootr{
    color: rgb(250, 218, 177);
}
.mcol-sec{
    font-family: Merienda;
    font-size: 20px;
    color: antiquewhite;
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.ms-section .mxplore{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 15px;
    border-radius: 25px;
    padding: 5px;
}
.mxplore:hover{
    box-shadow: 3px 5px 5px;
}
.mt-section .vist{
    color: #f5f5f5;
    font-size: 15px;
}
.mp{
    text-decoration: none;
    color: black;
}